body {
  font-family: 'Open Sans', sans-serif;
  background: #765f4d;
}

body.full_screen_main {
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  z-index: -999999;
  position: fixed;
  background: #765f4d;
  background-size: cover;
}

.bg-overlay {
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6) 
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 15px 15px;
  /*min-height: 600px;*/
  background: #EDEDED;
}
a {
    color: #765f4f;
    text-decoration: none;
}
#page-inner {
  width:100%;
  margin:10px 20px 10px 0px;
  background-color:transparent;
  padding: 0px 30px;
  min-height:250px;
}

.header .container-fluid{
  padding:0;
}

.text-center {
  text-align:center;
}

.no-boder {
  border:1px solid #f3f3f3;
}


h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 7px;
  margin-bottom: -5px;
}

h2 {
  color: #000;
}

h4 {
  padding-top:10px;
}

.square-btn-adjust {
  border: 0px solid transparent; 
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

p {
  font-size:16px;
  line-height:25px;
  padding-top:20px;
}

.navbar-side {
  z-index: 0; 
}

.panel {
  border-radius:0px;
}

.navbar-side .nav > li > a > i{
	color: #e3d1bb;
	padding: 8px;
	width: 30px;
	text-align: center;
}

.top-navbar {
  position: fixed;
  width: 100%;
  z-index: 300;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
}

.navbar-side {
  z-index: 1;
  position: fixed;
  width: 260px;
  top: 80px;
}

#page-wrapper {
  position: relative;
  top: 55px;
  box-shadow: 0 0 10px #757575;
  -moz-box-shadow: 0 0 10px #757575;
  -webkit-box-shadow: 0 0 10px #757575;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
	text-decoration: none;
	background-color: #4D4D4D;
	color: #fff!important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	background-color: #e3d1bb;
	border-color: #e3d1bb;
	color: #fff !important;
}
.breadcrumb {
  padding: 10px 10px 10px 20px;
  /*margin-bottom: 20px;*/
  list-style: none;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);    box-shadow: 0 1px 1px rgba(0,0,0,.05);background: #fff;
}
.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 13px;
}

.dropdown-menu>li>a i {
  color: #1F1F1F;
  margin-right: 5px;
}

.text-muted {
  color: #FB5651;
}


/* CSS PRELOADER CODE STARTS HERE */
.css-preloader-wrapper {
	height: 100vh;
	margin: 0px auto;
	padding: 0px;
	display: inline-block;
	background-color: rgba(0,0,0,0.45);
}
.css-preloader-wrapper .container {
	width: 126px;
    height: 100vh;
    margin: 250px auto;
    z-index: 2;
    text-align: center;
    float: none;
}

.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #FFF;
}

.block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
.block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
.block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
.block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}
/* CSS PRELOADER CODE ENDS  HERE */



/* LOGIN PAGE CODE */
#cont_full_screen {
  margin: 0px auto;
  padding: 0px;
  display: inline-block;
}
#cont_full_screen #login {
  /*width: 100%;*/
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
#cont_full_screen .login_landing_screen {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  position: relative;
}
#cont_full_screen .login_left_wrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  background: url(../../assets/img/login_bg.jpg) no-repeat center center;
  background-size: cover; 
  position: absolute;
  height: 100vh;
  left: 0px;
  border-right: 2px solid #fff
}
#cont_full_screen .login_right_wrapper {
  margin: 0px;
  padding: 10% 0 0 0;
  display: inline-block;
  background-color: #765f4d; 
  position: absolute;
  height: 100vh;
  right: 0px;
  border-left: 2px solid #fff
}
#cont_full_screen .login_right_wrapper .login_circle_wrapper { 
  width: 275px;
  height: 275px;
  display: inline-block;
  -webkit-border-radius: 138px;
  -moz-border-radius: 138px;
  border-radius: 138px;
  border: 4px solid #fff;
  background-color: #e3d1bb;
  position: absolute;
  left: -138px;
  -webkit-box-shadow: -7px 2px 31px -4px rgba(88, 90, 90, 0.7);
  -moz-box-shadow: -7px 2px 31px -4px rgba(88, 90, 90, 0.7);
  box-shadow: -7px 2px 31px -4px rgba(88, 90, 90, 0.7);
}
#cont_full_screen .login_right_wrapper .login_circle_wrapper img.logo-img { 
  margin:0px auto;
  padding: 0px 20px;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 39%;
}
#cont_full_screen .login_right_wrapper .login_form_wrapper { 
  width: calc(100% - 150px);
  max-width: 630px;
  height: 300px;
  display: inline-block;
  position: absolute;
  left: 126px;
  padding: 75px 0 0 30px;
}
#frm_admin_login .login_submit_btn {
  width: auto;
  height: 105px;
  float: left;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 3px;
  margin:0px auto;
  padding: 10px 40px;
  background-color: #655041;
  border: 2px solid #bfa48f;
  -webkit-transition: background-color 0.5s ease-in;
  -moz-transition: background-color 0.5s ease-in;
  transition: background-color 0.5s ease-in;
}
#frm_admin_login .login_submit_btn > i {
  font-size: 72px;
  color: #fff;
}
#frm_admin_login .login_submit_btn:hover {
  background-color: #7d6656;
  border: 2px solid #7d6656;
}

#frm_admin_login input[type=text], #frm_admin_login input[type=password] {
  border: none;
  background-color: #bfa48f;
  color: #1e1e1e; 
  outline: none;
  box-shadow: none;
}
#frm_admin_login .input-group-addon {
  border: none;
  color: #1e1e1e;
  padding-left: 18px;
  padding-right: 0px;
  background-color: #bfa48f;
}
#frm_admin_login .remember_wrapper {
  margin: 0 0 5px;
  padding: 0px;
  display: block;
  text-align: left;
}
.only-small-devices {
	  display: none;
 }

#frm_admin_login .form-group input[type=checkbox] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
#frm_admin_login .form-group label {
  cursor: pointer;
  color: #e3d1bb;
  display: inline-block;
  padding-left: 2px;
  font-weight: normal;
}
#frm_admin_login .form-group label:before {
  content:'';
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid #e3d1bb;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}


#frm_admin_login .form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #e3d1bb;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}




#frm_user > .col-xs-12, #frm_company > .col-xs-12 {
  margin: 0px;
  padding: 0 10px 0 0;
  display: inline-block;
}

#frm_admin_login .input-group-addon > i {
  color: #1e1e1e;
}

#frm_admin_login .error_msg, .error {
  color: #ff0000;
  text-align: left;
  margin-top: 5px;
  background-color: transparent;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 3px;
  text-transform: capitalize;
}

.modal-content {
  border: none;
}
.modal-header {
  color: #fff;
  border-bottom: 2px solid #bfa48f;
  background-color: #765f4f;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-transform: uppercase
}
.modal-title {
	padding: 10px 0px;
}
.close {
    color: #e3d1bb;
    text-shadow: none;
    opacity: 1;
}
.error {
  text-transform: capitalize;
  color: #ff0000;
}

.success {
  padding-left: 0px;
  text-transform: capitalize;
  color: green;
}

.error-bg {
	background-image: url(../img/404_bg.png) !important; 
	background-repeat: repeat !important;
}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }



#frm_admin_login input:-webkit-autofill,
#frm_admin_login input:-webkit-autofill:hover, 
#frm_admin_login input:-webkit-autofill:focus, 
#frm_admin_login input:-webkit-autofill:active  {
  -moz-box-shadow: 0 0 0 30px #bfa48f inset !important;
  -webkit-box-shadow: 0 0 0 30px #bfa48f inset !important;
  box-shadow: 0 0 0 30px #bfa48f inset !important;
  transition: background-color: #1e1e1e !important;
  color: rgb(189,231,222) !important;
}

#frm_admin_login input:-webkit-autofill {
  -webkit-text-fill-color: #1e1e1e  !important;
}
#frm_admin_login input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1e1e1e  !important;
}

#frm_admin_login input::-webkit-input-placeholder {
  color: #654c38 !important;
  background-color: transparent !important;
}

#frm_admin_login input:-moz-placeholder { /* Firefox 18- */
  color: #654c38 !important;
  background-color: transparent !important;  
}

#frm_admin_login input::-moz-placeholder {  /* Firefox 19+ */
  color: #654c38 !important;
  background-color: transparent !important;  
}

#frm_admin_login input:-ms-input-placeholder {  
  color: #654c38 !important;
  background-color: transparent; !important;
}

.login_logo_wrapper {
  text-align: center; 
  margin-bottom: 30px;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 4px 7px;
  font-size: 11px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #F36A5A;
  border-radius: 10px;
}

.closed{
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  color: #EDEDED !important;
  margin-top: 12px !important;
}

.closed i{color:#F09B22;}


.tabbable .tab-pane-content-wrapper, .tabbable {
  margin: 0px;
  padding: 30px 18px;
  display: inline-block;
}
/* PROJECT VIEW PAGE CODE STARTS HERE */
.map-container .hide {
  display: none;
}
.map-container {
  text-align: center;
}
.map-container.tabs_wrapper {
	padding: 0px;
	margin-bottom: 20px;
	display: inline-block;
}
#divisiondetail {
  overflow-x: auto;
  overflow-y: hidden;
  display: -webkit-box;
  border-bottom: 1px solid #ccc;
}
#divisiondetail button.map-point-sm {
	border: none;
	outline: none;
	display: block;
	margin-right: 10px;
	background-color:#fff;
}
#divisiondetail button.map-point-sm .content p {
	font-size: 14px;
	color: #6c6c6c;
	text-align: left;
	font-weight: normal;
	padding: 13px 10px 0;
	line-height: normal;
	text-transform: uppercase;
}

#divisiondetail button.map-point-sm.active {
	color:#fff;
	background-color: #ccc;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
#divisiondetail button.map-point-sm.active .content p {
	color:#fff;
}
.division-details .form-bottom {
	background-color: transparent;
	padding:5px 0px;
}
.division-details .form-bottom .content_main_title_wrapper {
	margin: 0 0 20px;
	padding: 0px;
	display: inline-block;
}
.division-details .form-bottom .content_main_title_wrapper .main_title_label {
	padding: 0 0 5px 0;
    display: block;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px dotted #cfcfcf;
    text-transform: uppercase;
}
.clearBoth {
	clear: both;
}
.img-uploads-wrapper {
	margin: 10px 0px;
	padding: 0px;
	display: inline-block;
	/*border: 2px solid orange;*/
}
.img-uploads-wrapper > a {
	border: 1px solid #765f4f;
    width: 76px;
    height: 76px;
    padding: 2px;
    display: inline-block;
    margin-right: 15px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	white-space: nowrap;
}
/* CSS CODE FOR LIGHTBOX IMAGE GALLERY CODE STARTS */
#gallery {
  padding-top: 40px;
}
@media screen and (min-width: 991px) {
  #gallery {
    padding: 0px;
  }
}

#gallery #image-gallery .image {
  width: 76px;
  height: 76px;
  float: none;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #765f4f;
}

#gallery .img-wrapper {
  width: 74px;
  height: 74px;
  position: relative;
  margin: 0 20px 0 0;
  padding: 2px;
}

#gallery .img-wrapper > a > img {
    width: 100%;
	height: 100%;
}
 
#gallery .img-overlay {
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
#gallery .img-overlay i {
    color: #fff;
    font-size: 3em;
}
#gallery #overlay { 
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none; 
  user-select: none;
}

#gallery #overlay img {
   margin: 0;
   width: 80%;
   height: auto;
   object-fit: contain;
   padding: 5%;
}

@media screen and (min-width: 768px) {
  #gallery #overlay img {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  #gallery #overlay img {
    width: 50%;
  }
}

#gallery #nextButton, #gallery #prevButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
}
#gallery #nextButton:hover, #gallery #prevButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #gallery #nextButton, #gallery #prevButton {
    font-size: 3em;
  }
}

#gallery #exitButton {
  color: #fff;
  font-size: 2em;
  transition: opacity 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
}

#gallery #exitButton:hover {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #gallery #exitButton {
    font-size: 3em;
  }
}
/* CSS CODE FOR LIGHTBOX IMAGE GALLERY CODE ENDS */




.main-gallery-wrapper {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	border: 2px solid orange;
}






/* width */
.map-container ::-webkit-scrollbar {
  height: 2px;
  margin-top: 2px;
}

/* Track */
.map-container ::-webkit-scrollbar-track {
  background: #f4f4f4; 
  
}

/* Handle */
.map-container ::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

/* Handle on hover */
.map-container ::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/* PROJECT VIEW PAGE CODE ENDS HERE */

.project-selected-view-wrapper {
	margin: 10px auto 20px;
	padding: 0px;
	display: inline-block;
}
.project-selected-view-wrapper .project-highlight {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}
.nav-tabs {
	border-bottom: 3px solid #765f4f;
}
.nav-tabs {
	overflow-x: auto;
	overflow-y: hidden;
	display: -webkit-box;  
	display: -moz-box;
	clear: both;
	margin-bottom: 25px;
	padding-bottom: 2px;
}
#tab {
	clear: both;
}
.nav-tabs>li {
	float:none;
}
.nav-tabs>li>a {
	padding: 15px 15px 12px;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 2px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color:#fff;
	padding: 15px 15px 12px;
	cursor: pointer;
	border: 1px solid #765f4f;
	background-color: #765f4f
}

.form-box .form-row {
    display: flex;
    /*margin-bottom: 20px;*/
    color: #1e1e1e;
}
.form-box .form-row .marb20 {
    margin-bottom: 20px;
}
.form-box .form-row .form-holder.w-100, .form-box .form-row .select.w-100 {
    width: 100%;
    margin-right: 0;
}
.form-box .form-row .form-holder,
.form-box .form-row .select {
    width: 50%;
    margin-right: 30px;
}
.form-box .form-row .form-holder:last-child, 
.form-box .form-row .select:last-child {
    margin-right: 0;
}

.view_only_wrapper {
	background-color: #eee;
}
.site-view-only-wrapper {
	margin: 0;
    padding: 10px 15px;
    vertical-align: middle;
    background: #f8f8f8;
    border: 3px solid #ddd;
    font-size: 14px;
    font-weight: 300;
    line-height: 25px;
    color: #888;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;;
}
.view_only_wrapper:hover {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}


/*----------------------------------------------
PROJECT OVER VIEW DETAILS STYLES    
------------------------------------------------*/
.project-overview-wrapper {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}
.project-overview-wrapper .accordion-left-wrapper,
.project-overview-wrapper .accordion-right-wrapper {
	margin: 0 0 20px;
	padding: 0 15px 0 0;
	display: inline-block;
}
.project-overview-wrapper .accordion-right-wrapper {
	padding-right: 0px;
	padding-left: 15px;
}
.project-overview-wrapper .accordioans-level-wrapper {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}


/*----------------------------------------------
DASHBOARD STYLES    
------------------------------------------------*/

.page-header {margin: 0;border-bottom: 1px solid transparent;text-align: left;background-color: rgb(237, 237, 237);padding: 18px 22px 12px 0;color: #323232;}

.panel-left{  
  width: 100px;
  height: 100px;background: #0866C6;
  overflow: hidden;
  margin: 12px;
}

.panel-left .fa-5x {

  font-size: 3em;color: rgb(240, 155, 34);

  padding: 29px 0;

  margin-bottom:30px;

}

.panel-right{  

  height: 124px;

  background: transparent;

  margin-bottom: 0;color: #AFAFAF;

  float: left;

  text-align: left;

  padding-left: 20px;

  font-size: 16px;

  text-shadow: none;

  font-weight: normal;

  text-align: center;

}

.panel-right h3{  

  font-size: 40px;

  padding: 18px 10px 13px 0;color: #5D5D5D;

}

.panel-right strong {

  font-weight:normal;

  color: #737373;

}

.panel-back {

  background-color:#fff;



}

.panel-default {

  border-color: #ECECEC;

}

.panel-default > .panel-heading {

  border-color: #9e9e9c;

  font-weight:bold;

  background: #9e9e9c;

  font-size: 16px;

  color: #fff;

  text-transform: uppercase;

  letter-spacing: 1px;

  text-shadow: none;

}

.panel-heading {

  border-bottom: 1px solid transparent;

  border-top-left-radius: 3px;

  border-top-right-radius: 3px;

}

.form-group {
  margin-bottom: 25px
}
.form-group.last {
  margin-bottom: 15px;
}
.form-control {
  height: 40px;
}
#frm_project_new .form-control, 
#frm_project_edit .form-control {
  margin-bottom: 20px;
}
#frm_project_new .form-box .form-row {
  margin-bottom: 0px;
}
.checkbox-inline, .radio-inline {

  color: #fff;

}

.input-group-addon {

  font-size: 18px;

}

.header {
  margin: 0 30px;
  padding-bottom: 0px;
}

h1.page-header small {

  color: #7E7E7E;

  margin-left: 15px;

  font-size: 20px;

}

.sub-title {

  padding: 20px 0 8px;

  font-weight: bold;

}

.chartJs{

  padding-right:15px;

}

i.fa.fa-bars {
  font-size: 20px;
  margin: 12px 0 0;
  color: #e3d1bb;
}

i.fa.fa-bars:hover {

  color: #fff;

}

.board .panel {

  padding: 25px 15px;

  border:none;

  background:#fff;

}

.board .number{

  float:left;

}

.board .icon{

  float:right;

}

.number h3 {
  font-size: 32px;
  color: #676767;
  padding: 0px;
}

.number small {

  font-size: 14px;

  color: #AAB5BC;

  font-weight: 600;

  text-transform: uppercase;

  margin: 8px 5px;

  display: inline-block;

}

.register-here {

  margin: -25px 0 10px 0;

  padding: 5px 1px 5px 0;

  display: inline-block;

  text-align: right;

}

.register-here a {

  font-size: 13px;

  font-weight: bold;

  color:#333;

  text-transform: uppercase;

}

div.country-prefix {

  position: absolute;

  left: 16px;

  top: 1px;

  background-color: #ccc;

  width: 36px;

  height: 38px;

  color: #666;

  font-weight: bold;

  border-top-left-radius: 3px;

  border-bottom-left-radius: 3px;

}

div.country-prefix::after {

  top: 5px;

  border:1px solid green;

}

.board .panel .icon .fa {

  font-size: 30px;

  color: #FFFFFF;

  background: #30A5FF;

  padding: 19px;

}

.blue{

  background:#30A5FF !important;

}

.green{

  background:#1ABC9C !important;

}

.yellow{

  background:#FABE28 !important;

}

.red {

  background: #f36a5a !important;

}

.jumbotron{

  padding:20px;

}

.jumbotron p {

  margin-bottom: 15px;

  font-size: 15px;

  font-weight: 200;

}

.jumbotron, .well{

  background:#fff;

}

.noti-box {

  min-height: 100px;

  padding: 20px;

}



.noti-box .icon-box {

  display: block;

  float: left;

  margin: 0 15px 10px 0;

  width: 70px;

  height: 70px;

  line-height: 75px;

  vertical-align: middle;

  text-align: center;

  font-size: 40px;

}

.text-box p{

  margin: 0 0 3px;

}

.main-text {

  font-size: 25px;

  font-weight:600;

}

.set-icon {

  -webkit-border-radius: 50px;

  -moz-border-radius: 50px;

  border-radius: 50px;



}
.panel-primary{
  display:inline-block;
  margin-bottom: 30px;
  width:100%;
}
.green {
  /* background-color: #1CC09F; */
  color: #fff;
}
.blue {background-color: #FFFFFF;color: #002A4C;}
.red {
  background-color: #FB6E51;
  color:#fff;
}
.brown {
  background-color: #F5B252;
  color:#fff;
} 
.back-footer-red {
  background-color: #F0433D;
  color:#fff;
  border-top: 0px solid #fff;
}

.icon-box-right {
  display: block;
  float: right;
  margin: 0 15px 10px 0;
  width: 70px;
  height: 70px;
  line-height: 75px;
  vertical-align: middle;
  text-align: center;
  font-size: 40px;
}

.main-temp-back {
  background: #8702A8;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}
.main-temp-back .text-temp {
  font-size: 40px;
}
.back-dash {
  padding:20px;
  font-size:20px;
  font-weight:500;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background-color:#2EA7EB;
  color:#fff;
}
.back-dash p {
  padding-top:16px;
  font-size:13px;
  color:#fff;
  line-height:25px;
  text-align:justify;
}

.color-bottom-txt {
  color: #000;
  font-size: 16px;
  line-height: 30px;
}
/*CHAT PANEL*/
/*Charts*/

.main-chart {
  background: #fff;
}

.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
}

.placeholder h2 {
  margin-bottom: 0px;
}

.donut {
  width: 100%;
}

.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
}

.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 38px;
  width: 120px;
}
.checkbox3 label::before,
.radio3 label::before {
  overflow:hidden;
  vertical-align:middle;
  text-align:center
}
.checkbox3 label,
.radio3 label {
  white-space:nowrap;
  cursor:pointer
}
.checkbox3 {
  position:relative
}
.checkbox3 input {
  position:absolute;
  left:-9999px
}
.checkbox3 label::after,
.checkbox3 label::before {
  content:'';
  top:10px;
  bottom:10px;
  left:0;
  display:block
}
.checkbox3 label {
  display:block;
  position:relative;
  padding:15px 0px 22px 30px;
  font-size:12px;
  margin-bottom:0;
  margin-top:-4px
}
.checkbox3 label::before {
  position:absolute;
  width:21px; 
  height:21px;
  border:1px solid #CCC;
  -moz-border-radius:1px;
  border-radius:1px;
  -webkit-transition:background-color .2s;
  -moz-transition:background-color .2s;
  transition:background-color .2s
}
.checkbox3 label::after {
  position:absolute;
  width:19px;
  height:19px;
  border:12px solid #FFF;
  margin:1px;
  -webkit-transition:all 50ms;
  -moz-transition:all 50ms;
  transition:all 50ms;opacity:0
}
.checkbox3 input:checked+label::before {
  border-width:1px;
  border-style:solid;
  background-color:#444;
  border-color:#444;
  color:#fff
}
.checkbox3 input:checked+label::after { 
  border:3px solid #FFF;
  opacity:1
}
.checkbox3.checkbox-sm label {
  padding:8px 0 8px 22px
}
.checkbox3.checkbox-sm label::before { 
  width:14px;
  height:14px;
  line-height:14px
}
.checkbox3.checkbox-sm label::after {
  width:12px;
  height:12px
} 
.checkbox3.checkbox-lg label {
  padding:15px 0 15px 40px
}
.checkbox3.checkbox-lg label::before {
  width:28px;
  height:27px;
  line-height:24px
}
.checkbox3.checkbox-lg label::after {
  width:26px;
  height:25px
}
.checkbox3.checkbox-inline, 
.radio3.radio-inline {
  padding-top:0;
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0px;
}
.checkbox3.checkbox-inline input[type=checkbox],
.checkbox3.checkbox-inline input[type=radio],
.radio3.radio-inline input[type=checkbox],
.radio3.radio-inline input[type=radio] { 
  position:absolute
}
.checkbox3.checkbox-check input:checked+label::after,
.checkbox3.checkbox-check label::after { 
  border:0
}
.checkbox3.checkbox-check label::after { 
  content:"\f00c";
  font-family:FontAwesome;
  font-size:12px;
  color:#FFF;
  width:19px;
  height:20px;
  line-height:20px;
  vertical-align:middle;
  text-align:center;
  border-width:0
}
.checkbox3.checkbox-check.checkbox-sm label::after { 
  font-size:9px;
  line-height:12px;
  width:12px
}
.checkbox3.checkbox-check.checkbox-lg label::after {
  font-size:16px;
  line-height:26px;
  width:26px
}
.checkbox3.checkbox-check.checkbox-light label::after {
  color:#444
} 
.checkbox3.checkbox-circle label::after,
.checkbox3.checkbox-circle label::before {
  -moz-border-radius:20px;
  border-radius:20px
}
.checkbox3.checkbox-round label::after,
.checkbox3.checkbox-round label::before,
.checkbox3.checkbox-s1 label::after,
.checkbox3.checkbox-s1 label::before { 
  -moz-border-radius:4px;
  border-radius:4px
}
.checkbox3.checkbox-light label::before {
  background-color:transparent
}
.checkbox3.checkbox-light input:checked+label::before {
  background-color:transparent;
  border-color:#444
}
.checkbox3.checkbox-info input:checked+label::before { 
  background-color:#2caef5;
  border-color:#2caef5
}
.checkbox3.checkbox-primary input:checked+label::before {
  background-color:#4183d7;
  border-color:#4183d7
}
.checkbox3.checkbox-success input:checked+label::before { 
  background-color:#fff;
  border-color:#fff
}
.checkbox3.checkbox-warning input:checked+label::before {
  background-color:#ff9c00;
  border-color:#ff9c00
}
.checkbox3.checkbox-danger input:checked+label::before {
  background-color:#e50011;
  border-color:#e50011
}
.checkbox3.checkbox-primary.checkbox-light input:checked+label::before { 
  background-color:transparent;
  border-color:#4183d7
}
.checkbox3.checkbox-primary.checkbox-light input:checked+label::after {
  color:#4183d7
}
.checkbox3.checkbox-info.checkbox-light input:checked+label::before {
  background-color:transparent;
  border-color:#2caef5
}
.checkbox3.checkbox-info.checkbox-light input:checked+label::after {
  color:#2caef5
}
.checkbox3.checkbox-success.checkbox-light input:checked+label::before {
  background-color:transparent;
  border-color:#fff
}
.checkbox3.checkbox-success.checkbox-light input:checked+label::after { 
  color:#fff
}
.checkbox3.checkbox-warning.checkbox-light input:checked+label::before {
  background-color:transparent;
  border-color:#ff9c00
}
.checkbox3.checkbox-warning.checkbox-light input:checked+label::after{color:#ff9c00}.checkbox3.checkbox-danger.checkbox-light input:checked+label::before{background-color:transparent;border-color:#e50011}.checkbox3.checkbox-danger.checkbox-light input:checked+label::after{color:#e50011}.radio3{position:relative}.radio3 input{position:absolute;left:-9999px}.radio3 label{display:block;position:relative;padding:11px 0 11px 30px;font-size:12px;margin-bottom:0;margin-top:-4px}.radio3 label::after,.radio3 label::before{content:'';display:block;position:absolute;top:10px;bottom:10px;left:0}.radio3 label::before{width:21px;height:21px;border:1px solid #CCC;-webkit-transition:background-color .2s;-moz-transition:background-color .2s;transition:background-color .2s}.radio3 label::after{width:19px;height:19px;border:12px solid #FFF;margin:1px;-webkit-transition:all 50ms;-moz-transition:all 50ms;transition:all 50ms;opacity:0}.radio3 input:checked+label::before{font-family:FontAwesome;border-width:1px;border-style:solid;background-color:#444;border-color:#444;color:#fff}.radio3 input:checked+label::after{border:3px solid #FFF;opacity:1}.radio3.radio-check label::after,.radio3.radio-check.radio-light label::after{content:"\f00c";font-family:FontAwesome;color:#FFF;width:19px;height:20px;line-height:20px;vertical-align:middle;text-align:center;border-width:0}.radio3 label::after,.radio3 label::before{-moz-border-radius:20px;border-radius:20px}.radio3.radio-check input:checked+label::after{border-width:0}.radio3.radio-check.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-check.radio-light input:checked+label::after{border-width:0;color:#444}.radio3.radio-sm label{padding:8px 0 8px 22px}.radio3.radio-sm label::before{width:14px;height:14px;line-height:14px}.radio3.radio-sm label::after{width:12px;height:12px}.radio3.radio-lg label{padding:15px 0 15px 40px}.radio3.radio-lg label::before{width:28px;height:27px;line-height:24px}.radio3.radio-lg label::after{width:26px;height:25px}.radio3.radio-check.radio-sm label::after{font-size:9px;line-height:12px;width:12px}.radio3.radio-check.radio-lg label::after{font-size:16px;line-height:26px;width:26px}.radio3.radio-primary input:checked+label::before{background-color:#4183d7;border-color:#4183d7}.radio3.radio-info input:checked+label::before{background-color:#2caef5;border-color:#2caef5}.radio3.radio-success input:checked+label::before{background-color:#36b846;border-color:#36b846}.radio3.radio-warning input:checked+label::before{background-color:#ff9c00;border-color:#ff9c00}.radio3.radio-danger input:checked+label::before{background-color:#e50011;border-color:#e50011}.radio3.radio-primary.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-primary.radio-light input:checked+label::after{color:#4183d7}.radio3.radio-info.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-info.radio-light input:checked+label::after{color:#2caef5}.radio3.radio-success.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-success.radio-light input:checked+label::after{color:#36b846}.radio3.radio-warning.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-warning.radio-light input:checked+label::after{color:#ff9c00}.radio3.radio-danger.radio-light input:checked+label::before{background-color:transparent}.radio3.radio-danger.radio-light input:checked+label::after{color:#e50011}

.custom-modal-dropdown {
	margin-top:-9px;
}


/* ACCOUNT ACTIVATION PAGE CODE */
.activation-header-wrapper {
	margin: 0px auto 40px;
	padding: 20px;
	display: inline-block;
	color:#1e1e1e;
	text-align: center;
	background-color: #e3d1bb;
	border-bottom: 3px solid #fff;
}
.activation-content-wrapper {
	margin: 20px 0px;
	padding: 0px;
	display: inline-block;
}
.activation-header-wrapper img {
	margin: 0px auto;
	text-align: center;
}
.activation-content-wrapper .panel-default .panel-heading {
	padding: 25px;
	border: 2px solid #bfa48f;
	background-color: rgba(101,80,65,1);
}
.activation-content-wrapper .success-activation {
	color: #e3d1bb;
    padding: 0px;
    display: block;
    float: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.activation-content-wrapper .error-activation {
	color: #ff0000;
    padding: 0px;
    display: block;
    float: none;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.activation-content-wrapper input[type=text], .activation-content-wrapper input[type=password] {
	border: none;
    background-color: #bfa48f;
    color: #1e1e1e;
    outline: none;
    box-shadow: none;
}
.activation-content-wrapper input:-webkit-autofill, 
.activation-content-wrapper input:-webkit-autofill:focus {
  -webkit-text-fill-color: #1e1e1e  !important;
}

.activation-content-wrapper input::-webkit-input-placeholder {
  color: #654c38 !important;
  background-color: transparent !important;
}

.activation-content-wrapper input:-moz-placeholder { /* Firefox 18- */
  color: #654c38 !important;
  background-color: transparent !important;  
}
.activation-content-wrapper input::-moz-placeholder {  /* Firefox 19+ */
  color: #654c38 !important;
  background-color: transparent !important;  
}
.activation-content-wrapper input:-ms-input-placeholder {  
  color: #654c38 !important;
  background-color: transparent; !important;
}
.activation-content-wrapper .error-go-home-btn {
	margin: 15px auto 50px;
	padding: 0px;
	display: inline-block;
	text-align: center;
}
.activation-content-wrapper .error-go-home-btn > a.navbar-brand {
	margin: 0px auto;
	text-align: center;
	color:#fff;
	background-color: #bfa48f;
	border-radius: 5px;
	padding: 15px 20px;
	text-decoration: none;
	float: none;
	text-transform: uppercase;
	font-size: 14px;
}
.activation-content-wrapper .error-go-home-btn > a.navbar-brand > strong {
	font-weight: bold;
}
/* FEEDBACK PAGE CODE */
.feedback-wrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.feedback-wrapper .project-list-wrapper,
.feedback-question-wrapper {
  margin: 0px;
  padding: 10px 20px;
  display: inline-block;
  z-index:0;
}
.feedback-wrapper .project-list-wrapper label.project-title {
  text-transform: uppercase;
  float: left;
  line-height: normal;
  margin-right: 20px;
}
.feedback-wrapper .project-list-wrapper .navbar-static-top {
  width: 50%;
  float: left;
  min-height: 42px;
  background-image: none;
  box-shadow: none;
  background-color: white;
}
.feedback-wrapper .project-list-wrapper .navbar-static-top .navbar-nav,
.feedback-wrapper .project-list-wrapper .navbar-static-top .navbar-nav>li {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}
.feedback-wrapper .project-list-wrapper .navbar-static-top .navbar-nav li > a {
  padding-top: 13px;
  padding-bottom: 10px;
  color: #000 !important
}
.feedback-wrapper .project-list-wrapper .navbar-static-top .navbar-nav li > a .caret {
  position: absolute;
  top: 21px;
  right: 18px;
}
.feedback-question-wrapper ol.ordered-list {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

.feedback-question-wrapper ol.ordered-list li.ordered-question-list {
  margin: 0 0 35px;
  padding: 0 0 36px;
  display: block;
  border-bottom: 1px dotted #c4c4c4;
}
.feedback-question-wrapper ol.ordered-list li.ordered-question-list textarea {
  width: 75%;
  float: right;
  padding: 10px;
}
.feedback-question-wrapper ol.ordered-list li.ordered-question-list.last_entry { 
  border-bottom: none;
}
.feedback-question-wrapper label.project-inner-title {
  float: left;
  font-weight: normal;
  margin-right: 20px;
  padding-top: 15px;
}
.feedback-question-wrapper ol.ordered-list li.ordered-question-list .question-ratings-wrapper { 
  margin: 0px;
  padding: 0px;
  display: inline-block;
}


input[type="file"] {
    display: block;
}

input.upload-file-link[type=file]::-webkit-file-upload-button {
    cursor: pointer;
	display: inline-block;
    padding: 8px 15px;
	border-radius: 3px;
	color: #fff;
	background-color: #765f4f;
	border: 1px solid #765f4f;
	border: none;
	outline: none;
	transition: 0.3s;
}
input.upload-file-link[type=file]::-webkit-file-upload-button:hover {
	color: #765f4f;
	padding: 8px 20px;
	border: 1px solid #765f4f;
	background-color: #fff;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.upload-file-link {
  float: left;
  padding-top: 2px;
  color: #75604f;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload-file-link:hover, .upload-file-link:active, 
.upload-file-link:focus, .upload-file-link:visited {
  color: #1e1e1e;
}
.upload-file-link.color-pink {
  color: #F36A5A;
}
.file-select {
  display: block;
  border-bottom: 1px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
}

.file-select input[type=file] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}

#easypiechart-blue .percent { color: #30a5ff;}
#easypiechart-teal .percent { color: #1ebfae;}
#easypiechart-orange .percent { color: #ffb53e;}
#easypiechart-red .percent { color: #ef4040;}
.chat-panel .panel-body {
  height: 450px;
  overflow-y: scroll;
}
.chat-box {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat-box li {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #808080;
}
.chat-box li.left .chat-body {
  margin-left: 90px;
}
.chat-box li .chat-body p {
  margin: 0;
  color: #8d8888;
}
.chat-img>img {
  margin-left:20px;
}
footer {
  margin:0px;
  padding: 0px 35px;
  font-size: 14px;
}
.out_footer {
  text-align: center;
}
.out_footer a, .in_footer a {
  color: #1e1e1e;
  font-weight: bold;
  text-transform: uppercase;
}
.in_footer {
  text-align: left;
  padding-bottom: 25px;
}
footer p {
  font-size: 14px;
}

/*----- MENU STYLES --------*/

div#sideNav:hover {
  color: #F09B22;
}
.user-image {
  margin: 25px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-height:170px;
  max-width:170px;
}
.top-navbar{
  margin:0px;
}
.top-navbar .navbar-brand {
  color: #fff;
  width: 260px;
  text-align: left;
  height: 60px;
  font-size: 21px;
  font-weight: 300;
  /* text-transform: uppercase; */
  line-height: 30px;
  background: #bea28a;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #fff;
  background: #bea28a;
}
.navbar-brand b{
  color: #4BD28C;
}
.top-navbar .nav > li {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.top-navbar .nav > li > a {
  position: relative;
  display: block;
  padding: 20px;
  color: #666;
  margin: 0px;
  transition: all 0.5s ease;
}

.top-navbar .nav > li > a:hover, .top-navbar .nav > li > a:focus {
  text-decoration: none;
  color: #319DB5 !important;
  background: transparent;
}

.top-navbar .nav > li.btn-register {
  margin: 0 0 0 20px;
  padding: 0px;      
}

.dropdown-selectwrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  float: right;
  position: absolute;
  right: 216px;
  top: 45px;
}

.create-project-wrapper {
  width: 100%;
  position: absolute;
  right: 0px;
  top: -12px;
  margin: 0 0 0 20px;
}
.create-project-wrapper a {
  color: #9b9b9b;
  border: 1px solid #abaaaa;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 0.8px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
  position: absolute;
  right: 0px;
  top: 48px;
}
.create-project-wrapper a:hover, .create-project-wrapper a:focus,
.create-project-wrapper.active-menu a {
  color: #fff;
  border: 1px solid #abaaaa;
  background-color: #abaaaa;
  padding: 10px 30px; 
}

.project_steps_details {
  width: 100%;
  margin: 0 20px 35px 0;
  padding: 0px;
  display: inline-block;
}
.create-project-wrapper a,
.project_steps_details a {
  color: #9b9b9b;
  border: 1px solid #abaaaa;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 0.8px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
}
.create-project-wrapper a:hover, .create-project-wrapper a:focus,
.create-project-wrapper.active-menu a,
.project_steps_details a:hover, .project_steps_details a:focus {
 color: #fff;
 border: 1px solid #abaaaa;
 background-color: #abaaaa;
 padding: 10px 30px; 
}


.approval_wrapper {
	margin: 0px;
	padding: 0px;
	display: inline-block;
}
.approval_wrapper .form-group {
	padding: 0px;
}

.top-navbar .nav > li.btn-register > a,
button.cancel-btn {
  color: #765f4f;
  border: 1px solid #765f4f;
  padding: 10px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 0.8px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
  background-color: #fff;
}
button.cancel-btn {
  float: right;
  margin-right: 20px;
}
.feedback-submit {
  margin: 0 0 20px;
  padding: 0px;
  display: block;
  float: right;
  text-align: right;
}

.feedback-submit a, button.loginBtn, .btn-404, .accordionBtn, .feebackSubmitbtn {
  color: #fff;
  background-color: #765f4f;
  padding: 11px 20px;
  border-radius: 3px;
  font-weight: bold;
  transition: 0.3s;
  letter-spacing: 0.8px;
  border-radius: 3px;
  font-size: 13px;
  text-decoration: none;
}
.feebackSubmitbtn {
  background-color: #1e1e1e !important;
}

.feedback-submit a:hover, .feedback-submit a:focus,
button.loginBtn:hover, button.loginBtn:focus,
.btn-404:hover, .btn-404:focus,
.accordionBtn:hover, .accordionBtn:focus,
.feebackSubmitbtn:hover, .feebackSubmitbtn:focus {
  color: #765f4f !important;
  background-color: #fff;
  border: 1px solid #765f4f;
  padding: 10px 30px; 
text-decoration: none;  
}
.feebackSubmitbtn:hover, .feebackSubmitbtn:focus {
  color: #fff !important;
  background-color: #fff !important;
  border: 1px solid #1e1e1e !important;
  padding: 10px 30px; 
  text-decoration: none;  
}
button.loginBtn {
  border: none;
  outline: none;
  float: right;
  text-transform: uppercase;
}
.accordionBtn {
  float: none;
  border: none;
  outline: none;
}
.feebackSubmitbtn {
  float: right;
  margin-left: 20px;
}
.feedbackCommentBox {
  width: 72% important;
  margin: 0px;
  padding: 0px;
  float: left !important;
  display: block;
}
.top-navbar .nav > li.btn-register > a:hover, 
.top-navbar .nav > li.btn-register > a:focus,
.top-navbar .nav > li.btn-register.active-menu > a,
button.cancel-btn:hover, button.cancel-btn:focus  {
  color: #fff !important;
  background-color: #765f4f;
  border: 1px solid #765f4f;
  padding: 10px 30px;    
}

.top-navbar .dropdown-menu {
  min-width: 202px;
  border-radius: 0 0 4px 4px;
  border: 0;
  margin-top: 0px;
  padding: 0px;
}
.top-navbar .dropdown-menu > li.logout-btn {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.top-navbar .dropdown-menu > li > a {
  padding: 15px 20px;
}
.top-navbar .dropdown-menu > li:hover, .top-navbar .dropdown-menu > li:focus {
  color:#1e1e1e;
  background-color: #c5c1be !important; 
}
.dropdown-menu .divider {
  margin: 0px;
}
.top-navbar .dropdown-menu > li > a:hover, .top-navbar .dropdown-menu > li > a:focus {
  color: #1e1e1e;
  background-color: transparent; 
}

.dropdown-tasks{
  width: 255px;
}

.dropdown-tasks .progress {
  height: 8px;
  margin-bottom: 8px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 0px;
}

.dropdown-tasks > li > a { 
  padding: 0px 15px;
}

.dropdown-tasks p {
  font-size: 13px;
  line-height: 21px;
  padding-top: 4px;
}

.active-menu, .active-menu i {
  background-color: #e3d1bb  !important;
  color: #1e1e1e !important;
}
.active-menu i{color: #1e1e1e !important;}
.arrow {
  float: right;
  margin-top: 8px;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding-left: 37px;
}

.nav-third-level li a {
  padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
  background:none;
}
.sidebar-collapse .nav {
  padding:0;
}
.sidebar-collapse .nav > li > a {
  color: #e3d1bb;
  background:transparent;
  text-shadow:none;
  font-size: 14px;
  text-transform: uppercase;
}
.sidebar-collapse > .nav > li > a {
  padding: 12px 10px;
}
.sidebar-collapse > .nav > li {
  border-bottom: 1px solid #ad927f;
}
ul.nav.nav-second-level.collapse.in {background: #131212;}
.sidebar-collapse .nav > li > a:hover,
.sidebar-collapse .nav > li > a:focus {
  outline:0;
  background: #e3d1bb;
  color: #1e1e1e;
}
.navbar-side .nav > li > a:hover > i{
	color: #1e1e1e;
}

.navbar-side {
  border:none;
  background: #765f4d;
}
.top-navbar {
  background: #765f4f;
  border-bottom:none;
}
.top-navbar .nav > li > a > i {
  margin-right: 2px;
}
.top-navbar .nav > li > a > font {
  margin-left: 5px;
  font-size: 13px;
  margin-right: 5px;
  font-weight: bold;
  vertical-align: text-top;
  color: #e3d1bb;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.top-navbar .nav > li > a:hover > font {
  color: #e3d1bb;
}
.top-navbar .nav > li.open {
  background-color: #e3d1bb; 
  transition: all .3s ease-in;
}
.top-navbar .nav > li.open > a > font,
.top-navbar .nav > li.open > a > i {
  color: #1e1e1e;
}

.navbar-default {border:0px solid black;}
.navbar-header {
  background: transparent;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #bfa48f;
}
.navbar-default .navbar-toggle {
  border-color: #e3d1bb;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #e3d1bb;
}

.nav > li > a > i {
  margin-right:10px;
  color: #e3d1bb;
}
.dropdown-menu>li>a>strong {
  color: #0866C6;
  padding: 5px 0;
  display: inline-block;
  font-weight: 500;
}

#sideNav{
  float: left;
  left: 0;
  z-index: 3;
  color: #868686;
  cursor:pointer;
  border-radius: 0;
  width: 14px;
  font-size: 48px;
  line-height: 0;
  margin: 7px 0 0 20px;
}
ul.dropdown-menu.dropdown-messages li a div {
  padding: 2px 0;
}


/* UI - REGISTER PROFILE PICTURE - Code Starts */
.profil-pic-wrapper, .profil-fields-wrapper {
  margin: 0px;
  padding: 0px;
  display: inline-block;
}
.profil-fields-wrapper {
  padding-left: 20px;
}
.profil-fields-wrapper.modal-popup {
	padding-right: 20px;
}
.profil-pic-wrapper {
	min-height: 165px;
}
.profil-pic-wrapper .profile-pic {
  max-width: 200px;
  max-height: 224px;
  display: block;
  padding: 4px;
  border-radius: 200px;
  height: 112px;
  width: 112px;
}
.profil-pic-wrapper .file-upload {
  display: none;
}
.profil-pic-wrapper .circle {
  border-radius: 1000px !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 8px solid rgba(229, 229, 229, 0.7);
  position: absolute;
  top: 20px;
  left: 20px;
}
.profil-pic-wrapper img {
  max-width: 100%;
  height: auto;
}
.profil-pic-wrapper .p-image {
  position: absolute;
  top: 107px;
  right: 18px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  width: 35px;
  height: 35px;
  background-color: #ccc;
  border-radius: 20px;
}
.profil-pic-wrapper .p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.profil-pic-wrapper .upload-button {
  font-size: 1.2em;
  position: absolute;
  left: 9px;
  top: 11px;
}
.profil-pic-wrapper .upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.profil-pic-wrapper.modal-popup .circle {
  	left: 50%;
	margin-left: -64px;
}
.profil-pic-wrapper.modal-popup .p-image {
  	right: 50%;
	margin-right: -70px;
}
/* UI - REGISTER PROFILE PICTURE - Code Ends */

/*--- UI ELEMENTS STYLES -----*/

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.div_loading_image {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../../assets/img/loader-icons/loader-64x/Preloader_8.gif) center no-repeat rgba(0,0,0,0.7);
	opacity: .6;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #765f4f;
  border-color: #765f4f;
}

/*---- MEDIA QUERIES ----*/


@media(min-width:768px) {
  #page-wrapper{
    margin: 0 0 0 260px;
    padding: 0;
    min-height: 100vh;
  }

  #cont_full_screen {
    margin: 0px auto;
    padding: 0px;
    /*padding: 80px 50px 50px 50px;*/
    display: inline-block;
    /*height: 100%;
    position: absolute;
    overflow-y: auto;*/
  }
  .nav-pills>li>a {
    color: #fff;
  }
  .nav-pills>li>a:hover {
    color: #fff;
    background-color: #5195cf;
  }
  #cont_full_screen .panel {
    background-color: rgba(255, 255, 255, 0.35);
    border: none;
    border-radius: 5px;
  }

  #cont_full_screen .loginBtn { 
   background-color: #396c08;
   border: none; 
  }
  #cont_full_screen .loginBtn:hover { 
   background-color: #49860d;
   border: none; 
  }
  #cont_full_screen .btn_submit_newpwd { 
   background-color: #765f4d;
   border: 1px solid #bfa48f; 
  }
  #cont_full_screen .btn_submit_newpwd:hover { 
   background-color: #bfa48f;
   border: 1px solid #765f4d;
   color: #fff;
  }

.navbar-side {
  width: 260px;
  z-index: 1;
}

.navbar {
  border-radius: 0px; 
}
}
@media(max-width:1024px) {
  #cont_full_screen .login_right_wrapper {
    padding-top: 22%;
  }
  #cont_full_screen .login_right_wrapper .login_form_wrapper {
    width: calc(100% - 164px);
    left: 120px;
  }
}
@media(max-width:960px) { 
  #page-wrapper {
	margin-left: 0px;
  }
  #sideNav {
	display: none;
  }
  .navbar-toggle {
	display: block;
	top: 5px;
  }
  .navbar-header {
	width: calc(100% - 220px);
  }
  .navbar-top-links {
	  width: 230px;
  }
  .navbar-side {
	top: 60px;
  }
  .navbar-side {
	border-radius: 0px;
  }
}
@media(max-width:801px) { 
  #cont_full_screen .login_right_wrapper .login_circle_wrapper {
    width: 240px;
    height: 240px;
    left: -120px;
  }
  #cont_full_screen .login_right_wrapper .login_form_wrapper {
    width: calc(100% - 140px);
    padding-left: 6px;
  }
  .feedback-wrapper .project-list-wrapper .navbar-static-top {
	width: 100%;
  }
  .feedback-question-wrapper ol.ordered-list li.ordered-question-list textarea {
	width: 68%;
  }
}
@media(max-width:768px) {
  #sideNav{
    display:none;
  } 
  #page-wrapper {
    position: relative;
    top: 93px;
  }
  #page-wrapper {
    top: 60px;
  }
  .top-navbar {
	height: 60px;
  }
  .table-responsive {
	border: none;
  }
}
@media(max-width:603px) { 
  #cont_full_screen, #cont_full_screen .login_landing_screen {
	position: inherit;
	height:100%;
  }
  #cont_full_screen .login_left_wrapper {
	width: 100%;
    display: block;
    height: 200px;
    top: 0px;
    position: relative;
	border: none;
	border-bottom: 3px solid #fff;
  }
  #cont_full_screen .login_right_wrapper {
    padding-top: 100px;
    width: 100%;
    float: left;
    display: block;
    position: relative;
  }
  #cont_full_screen .login_right_wrapper .login_circle_wrapper {
    width: 240px;
    height: 240px;
    left: 50%;
	transform: translateX(-50%);
    top: -127px;
    position: absolute;
  }
  #cont_full_screen .login_right_wrapper .login_form_wrapper {
	width: 100%;
    padding: 0px;
    margin: 0px auto;
    position: relative;
    top: 45px;
    left: 0px
  }
  #cont_full_screen .login_right_wrapper .login_form_wrapper .login-input-filed-wrapper {
	max-width: 100%;
    display: block;
    clear: both;
    width: 90%;
    float: none;
    margin: 0px auto;
  }
  #cont_full_screen .login_right_wrapper .login_form_wrapper .login-input-btn-wrapper {
	max-width: 100%;
    width: 100%;
    margin: 0px auto;
    text-align: center;
  }
  #frm_admin_login .login_submit_btn {
	width: 88%;
    margin: 10px auto;
    float: none;
    text-align: center;
    padding: 1px 11px;
    height: 45px;
    text-transform: uppercase;
	border: 1px solid #bfa48f;
  }
  #frm_admin_login .login_submit_btn > i {
    font-size: 22px;
    color: #fff;
    vertical-align: middle;
    padding-left: 10px;
  }
  .only-small-devices {
	display: inline-block;
  }
  .top-navbar .navbar-brand {
	margin-left: 0px;
  }
  .navbar-header {
	  display: inline-block;
  }
  .navbar-top-links {
    width: 220px;
    display: inline-block;
    float: right;
  }
  .header {
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
  }
  #page-inner {
	padding-left: 10px;
	padding-right: 10px;
  }
  .navbar-header .hidden-xs {
	display: block!important;
  }
  .navbar-header .visible-xs {
	display: none!important;
  }
  #page-wrapper {
	margin-left: 0px;
	margin-right: 0px;
  }
  .profil-pic-wrapper {
    margin: 0px auto;
    max-width: 170px;
    text-align: center;
    float: none;
  }
  .create-project-wrapper {
	top: -33px;
  }
  #cont_full_screen .login_right_wrapper {
	border-left: none;
  }
}
@media(max-width:480px) {
  #page-wrapper {
    position: relative;
  }
  .page-header small {
    display: block;
    padding-top: 14px;
    font-size: 19px;
  }
  #sideNav{
    display:none;
  }
  .feedback-wrapper .project-list-wrapper, .feedback-question-wrapper {
	padding: 0px 10px;
  }
  .feedback-wrapper .project-list-wrapper label.project-title {
	margin-right: 0px;
  }
  .feedback-wrapper .project-list-wrapper .navbar-static-top {
	margin-bottom: 0px;
  }
  .feedback-question-wrapper {
	margin-top: 15px;
  }
  .rating-container {
	width: 100%;
	margin-bottom: 10px;
  }
  .rating-container .rating-stars {
	float: left;
  }
  .rating-container .caption {
	float: right;
	margin-top: 6px;
  }
  .rating-container .star {
	margin: 0 5px 0 3px;
  }
  .feedback-question-wrapper ol.ordered-list li.ordered-question-list textarea {
	width: 100%;
  }
  .feedback-question-wrapper ol.ordered-list li.ordered-question-list {
	margin-bottom: 20px;
  }
  .panel-left {
    width: 85px;
    height: 85px; 
    border-radius: 100%;
    overflow: hidden;
    margin: 14px;
  }
  .steps ul[role=tablist] {
    width: 100%;
    overflow: auto;
    display: -webkit-box;
    border:2px solid green;
  }
  #cont_full_screen .login_right_wrapper .login_circle_wrapper {
    width: 200px;
    height: 200px;
	top: -100px;
  }
  .navbar-header .hidden-xs {
	display: none!important;
  }
  .navbar-header .visible-xs {
	display: block!important;
  }
  .top-navbar .navbar-brand {
	width: 81px;
  }
  .navbar-toggle {
	top: 2px;
  }
  .header, #page-inner {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
  }
  .profil-pic-wrapper.modal-popup .circle {
  	left: 100%;
  }
  .profil-pic-wrapper.modal-popup .p-image {
	right: 0%;
  }
}
@media(max-width:480px) {
  #cont_full_screen .login_right_wrapper .login_circle_wrapper {
    width: 180px;
    height: 180px;
	top: -90px;
  }
  .profil-fields-wrapper.modal-popup {
	padding-left: 10px;
  }
  .profil-fields-wrapper.modal-popup {
	padding-right: 10px;
  }
  .feebackSubmitbtn {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
  }
  button.feedback-cancel-btn-mobile {
	float: left; 
	margin-left: 0px;
  }
}

@media(max-width:360px) {
  .top-navbar .navbar-brand {
	width: 73px;
  }
  .navbar-header {
	width: calc(100% - 210px);
  }
  .navbar-top-links {
	width: 200px;
  }
  .top-navbar .nav > li > a {
	padding: 20px 0px 20px 20px;
  }
}

@media(max-width:320px) {
  .navbar-header {
	width: calc(100% - 178px);
  }
  .navbar-top-links {
	width: 177px;
  }
  .top-navbar .nav > li > a {
	padding-left: 0px;
  }
  .profil-pic-wrapper.modal-popup .circle {
  	left: 80%;
  }
  .profil-pic-wrapper.modal-popup .p-image {
	right: 24%;
  }
  .modal-footer {
	padding: 15px 15px 15px 0; 
  }
  .feedback-wrapper .project-list-wrapper, .feedback-question-wrapper {
	padding: 0px;
  }
  .rating-container .star {
	margin-right: 10px;
  }
  .rating-container .caption {
    float: left;
    margin: 2px 0 5px 0;
  }
  .feedback-question-wrapper label.project-inner-title {
	margin-right: 0px;
  }
  button.cancel-btn {
	margin-right: 15px;
  }
}