
.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 16px 20px 0 20px;
	background: #F36A5A;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 1; color: #fff; }

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 0 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-2:hover, .btn-link-2:focus, 
.btn-link-2:active, .btn-link-2:active:focus { outline: 0; opacity: 1; background: rgba(0, 0, 0, 0.3); color: #fff; }


/***** Top content *****/
.inner-bg {
	padding: 40px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 1; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-box {
	padding: 0px;
}

.form-top {
	overflow: hidden;
	text-align: left;
	background: #fff;
	padding: 0 3px 0px 3px;
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0;
}

.form-top-left {
	float: left;
	width: 75%;
}
.form-top-left .steps-number {
	margin: 0 0 5px;
	padding: 0px;
	font-size: 15px;
}
.form-top-left .form-title {
	font-size: 22px;
	font-weight: 900;
	padding-top: 0px;
	text-transform: uppercase;
}
.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	font-size: 50px;
	color: #ddd;
	text-align: right;
	margin-top: -9px;
}

.form-bottom {
	width: 100%;
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	text-align: left;
	display: inline-block;
}

form .form-bottom textarea {
	height: 100px;
}

/*form .form-bottom button.btn {
	min-width: 105px;
}*/

form .form-bottom .input-error {
	border-color: #F36A5A;
}

form.registration-form fieldset {
	display: none;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.navbar { padding-top: 0; }
	.navbar.navbar-no-bg { background: #333; background: rgba(51, 51, 51, 0.9); }
	.navbar-brand { height: 60px; margin-left: 15px; }
	.navbar-collapse { border: 0; }
	.navbar-toggle { margin-top: 12px; }

	.inner-bg { padding: 40px 0 110px 0; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

	.form-bottom { padding-bottom: 25px; }
	form .form-bottom button.btn { margin-bottom: 5px; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

}


/* Retina-ize images/icons */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	/* logo */
	.navbar-brand {
		background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 123px 49px !important;
	}

}

/*input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #f8f8f8;
	border: 3px solid #ddd;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
	-o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
	border: 3px solid #ccc;
	-moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

*/

button.btn {
	color: #fff;
	border: 1px solid #bfa48f;
	background-color: #bfa48f;
	padding: 10px 20px;
	border-radius: 3px;
	font-weight: bold;
	transition: 0.3s;
	letter-spacing: 0.8px;
	border-radius: 3px;
	font-size: 13px;
	text-decoration: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s; 
	transition: .3s;
	text-transform: uppercase;
	margin-left: 20px;
}

button.btn:hover { background-color: #fff; border: 1px solid #bfa48f; color: #bfa48f; padding: 10px 30px; }
button.btn:active { outline: 0; opacity: 1; color: #765f4f; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus { outline: 0; opacity: 1; background: #bfa48f; color: #765f4f; }
button.btn:active:focus, button.btn.active:focus { outline: 0; opacity: 1; background: #bfa48f; color: #765f4f; }

button.btn-submit {
	background-color: #1e1e1e;
	border: 1px solid #1e1e1e; 
	float: right;
}
button.btn-submit:hover, button.btn-submit:active,
button.btn-submit:focus {
	color: #1e1e1e !important;
	border: 1px solid #1e1e1e;
	background-color: #fff !important;
}
.btn-next, .btn-previous {
	float: right;
}