@font-face {

  font-family: "Poppins-Regular";

  src: url("../fonts/poppins/Poppins-Regular.ttf"); }

@font-face {

  font-family: "Poppins-Medium";

  src: url("../fonts/poppins/Poppins-Medium.ttf"); }

@font-face {

  font-family: "Bitter-Regular";

  src: url("../fonts/bitter/Bitter-Regular.ttf"); }

* {

  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box; }



ul {

  padding: 0;

  margin: 0;

  list-style: none; }



a {

  text-decoration: none; }

input, textarea, select, button {

    font-family: "Poppins-Regular";

    font-size: 15px;

    color: #fff;

}

:focus {

    outline: none;

}

textarea {

  resize: none; }



img {

  width: 100%;

  max-width: 100%;

  vertical-align: middle; }



.wrapper {

  height: 100vh;

  background: #f9f6f1;

  display: flex;

  align-items: center;

  justify-content: center;

  overflow: hidden;

  background: url("../img/form-content-bg.png");

  background-size: cover; }



.inner {

  width: 100%; }



.image-holder {

  position: relative; }

  .image-holder h3 {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%); }



h3 {

  font-family: "Bitter-Regular";

  font-size: 30px;

  color: #fff;

  text-transform: uppercase;

  padding: 9px 23px;

  border: 1px solid rgba(255, 255, 255, 0.5);

  font-weight: 400;

  letter-spacing: 0.3px; }



.wizard {

  background: url("../img/form-content-bg.png") repeat;

  padding: 50px 30px;

  display: flex; }

  .wizard .steps {

    width: 36%;

    margin-right: 68px; }

  .wizard .content {

    width: 73.95%; }



.steps ul {

  border-left: 3px solid rgba(242, 242, 242, 0.4); }

.steps li {

  margin-bottom: 16px;

  display: flex;

  align-items: center;

  height: 31px;

  position: relative; }

  .steps li a {

    color: #fff;

    font-family: "Poppins-Medium";

    font-size: 15px;

    padding-left: 18px;

    text-decoration: none }

    .steps li a:before {

      content: "";

      width: 3px;

      height: 31px;

      position: absolute;

      left: -3px;

      top: 0; }

  .steps li.current a {

    color: #F36A5A; }

    .steps li.current a:before {

      background: #F36A5A; }



.content h4 {

  display: none; }



label {

  margin-bottom: 7px;

  display: block;

  font-size: 14px; }



.form-group .form-row {

  margin-bottom: 27px; }



.form-row {

  display: flex;

  margin-bottom: 20px;

  color: #fff; }

.form-row .marb15 {

  margin-bottom: 15px;

}

  .form-holder {

    color: #fff;

  }

  .form-holder label {

    display: inline-block;

  }

  .form-row.mb-21 {

    margin-bottom: 21px; }

  .form-row .form-holder, .form-row .select {

    width: 50%;

    margin-right: 30px; }

    .form-row .form-holder:last-child, .form-row .select:last-child {

      margin-right: 0; }

    .form-row .form-holder.w-100, .form-row .select.w-100 {

      width: 100%;

      margin-right: 0; }

    .form-row .form-holder.mr-20, .form-row .select.mr-20 {

      margin-right: 20px; }

  .form-row .select .form-holder {

    width: 100%;

    margin-right: 0; }



.form-holder {

  position: relative; }

  .form-holder span.lnr-chevron-down {

    position: absolute;

    bottom: 10px;

    right: 0;

    font-size: 10px; }

  .form-holder span.lnr-calendar-full {

    position: absolute;

    bottom: 12px;

    right: 0;

    font-size: 12px; }

  .form-holder span.placeholder {

    position: absolute;

    bottom: 8px;

    left: 0;

    font-size: 14px; }



.select {

  position: relative; }

  .select .select-control {

    height: 34px;

    border-bottom: 1px solid #5d718e;

    width: 100%;

    font-size: 14px;

    padding: 0;

    display: flex;

    align-items: center;

    cursor: pointer; }

  .select .dropdown {

    display: none;

    position: absolute;

    top: 100%;

    width: 100%;

    background: #fff;

    color: #999;

    z-index: 9;

    border: 1px solid #81acee; }

    .select .dropdown li {

      padding: 2px 10px; }

      .select .dropdown li:hover {

        background: #81acee;

        color: #fff; }



.form-control {

  background: none;

  height: 34px;

  border: none;

  border-bottom: 1px solid #5d718e;

  width: 100%;

  font-size: 14px;

  padding: 0;

  border-radius: 0px;

  color: #fff }

  .form-control.pl-85 {

    padding-left: 85px; }

  .form-control.pl-96 {

    padding-left: 96px; }

  .form-control::-webkit-input-placeholder {

    color: #fff; }

  .form-control::-moz-placeholder {

    color: #fff; }

  .form-control:-ms-input-placeholder {

    color: #fff; }

  .form-control:-moz-placeholder {

    color: #fff; }

  .form-control:focus {

    border-bottom: 1px solid #e6e6e6;

    outline: none;

    box-shadow: none;

    border-radius: 0px;

    color: #fff;

  }



textarea.form-control {

  padding: 6px 0; }



.option {

  color: #999;

  padding-left: 20px; }



select.form-control {

  -moz-appearance: none;

  -webkit-appearance: none;

  cursor: pointer;

  color: #fff; }

  select.form-control option[value=""][disabled] {

    display: none; }



select option {

  padding: 0 15px; }



.section-style {

  display: flex; }

  .section-style .board-wrapper {

    width: 50%;

    margin-right: 30px; }

  .section-style .form-wrapper, .section-style .pay-wrapper {

    width: 50%; }



.board-inner {

  background: #fff;

  color: #012353;

  font-size: 14px;

  padding: 22px 33px 13px 21px; }

  .board-inner div {

    margin-bottom: 8px; }

    .board-inner div:last-child {

      margin-bottom: 0; }

  .board-inner .board-item span {

    margin-left: 13px; }

  .board-inner .board-line {

    display: flex;

    justify-content: space-between; }

    .board-inner .board-line div {

      margin-bottom: 0; }



.bill {

  border: 1px solid #fff;

  padding: 18px 20px 11px 20px; }

  .bill .bill-item {

    display: flex;

    justify-content: space-between;

    margin-bottom: 7px; }

    .bill .bill-item .price {

      font-family: "Poppins-Medium";

      color: #F36A5A; }

    .bill .bill-item.people {

      justify-content: flex-start; }

      .bill .bill-item.people .bill-unit:first-child {

        margin-right: 28px; }

    .bill .bill-item.service {

      margin-top: 31px; }

    .bill .bill-item.vat {

      margin-bottom: 14px; }

    .bill .bill-item.total-price {

      margin-bottom: 21px; }

      .bill .bill-item.total-price .price {

        font-size: 17px; }

    .bill .bill-item.total {

      font-size: 12px;

      align-items: center; }

      .bill .bill-item.total span {

        display: block;

        margin-left: 0;

        font-size: 14px; }

      .bill .bill-item.total .price {

        font-size: 17px; }

  .bill .bill-unit span {

    margin-left: 2px; }

  .bill .bill-cell {

    padding-bottom: 7px;

    border-bottom: 1px solid #5d718e;

    margin-bottom: 15px; }

    .bill .bill-cell:last-child {

      margin-bottom: 0;

      padding-bottom: 0;

      border: none; }



button {

  padding: 0;

  border: none;

  display: flex;

  height: 42px;

  width: 164px;

  justify-content: center;

  align-items: center;

  background: #F36A5A;

  font-family: "Poppins-Medium";

  text-transform: uppercase;

  font-size: 15px;

  color: #fff;

  cursor: pointer;

  bottom: 56px;

  letter-spacing: 0.3px;

  border-radius: 3px;

  font-weight: 500;

  margin: auto;

  margin-top: 20px;

  font-weight: 500;

  float: right; }

  button i {

    margin-left: 10px; }

  button:hover {

    background: #d4b43f; }



.checkbox {

  position: relative;

  padding-left: 25px; }

  .checkbox label {

    cursor: pointer; }

    .checkbox label a {

      color: #edc948; }

      .checkbox label a:hover {

        color: #d4b43f; }

  .checkbox input {

    position: absolute;

    opacity: 0;

    cursor: pointer; }

  .checkbox input:checked ~ .checkmark:after {

    display: block; }



.checkmark {

  position: absolute;

  top: 3px;

  left: 0;

  height: 14px;

  width: 15px;

  border: 1px solid #fff;

  font-family: Material-Design-Iconic-Font;

  font-size: 13px; }

  .checkmark:after {

    position: absolute;

    top: 0;

    left: 1px;

    display: none;

    content: '\f26b';

    color: #fff; }



.checkbox-circle {

  display: flex;

  justify-content: space-between;

  margin-bottom: 16px; }

  .checkbox-circle label {

    padding-left: 19px;

    cursor: pointer;

    font-size: 12px;

    display: inline-block;

    position: relative; }

  .checkbox-circle input {

    position: absolute;

    opacity: 0;

    cursor: pointer; }

  .checkbox-circle input:checked ~ .checkmark:after {

    display: block; }

  .checkbox-circle .checkmark {

    position: absolute;

    top: 3px;

    left: 0;

    height: 12px;

    width: 12px;

    border-radius: 50%;

    border: 1px solid #fff; }

    .checkbox-circle .checkmark:after {

      content: "";

      top: 3px;

      left: 3px;

      width: 4px;

      height: 4px;

      border-radius: 50%;

      background: #fff;

      position: absolute;

      display: none; }



@media (max-width: 1500px) {

  .wrapper {

    height: auto;

    min-height: 100vh;

    padding: 0px; } }

@media (max-width: 1199px) {

  .wrapper {

    padding: 0; } }

@media (max-width: 991px) {

  .wizard {

    padding: 50px; } }

@media (max-width: 767px) {

  .wizard {

    padding: 50px 20px;

    flex-direction: column; }

    .wizard .steps {

      width: 100%;

      margin-right: 0;

      margin-bottom: 30px; }

    .wizard .content {

      width: 100%; }



  .section-style {

    flex-direction: column; }

    .section-style .board-wrapper {

      width: 100%;

      margin-right: 0;

      margin-bottom: 50px; }

    .section-style .form-wrapper, .section-style .pay-wrapper {

      width: 100%; }



  .form-row {

    display: block;

    margin-bottom: 0; }

    .form-row .form-holder {

      width: 100%;

      margin-right: 0; }

    .form-row .select {

      width: 100%;

      margin-right: 0; }



  .form-control, .select-control {

    margin-bottom: 29px; }



  .form-holder span.placeholder {

    bottom: 36px; }

  .form-holder span.lnr-chevron-down, .form-holder span.lnr-calendar-full {

    bottom: 39px; }



  .select span.lnr-chevron-down {

    bottom: 10px; }



  h3 {

    width: 90%;

    text-align: center; } }



/*# sourceMappingURL=style.css.map */